@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono');


/* 
font-family: 'Roboto Mono', monospace;
font-family: 'Roboto', sans-serif; 
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    position: fixed;
    top: 0px;
    right: 80px;
    padding: 10px 25px;
    background-color: rgba(0, 0, 0, 0.4);
}

nav ul li {
    position: relative;
    display: inline-block;
    padding: 5px 30px;
    list-style-type: none;
    cursor: pointer;
    overflow: hidden;

}

nav ul li::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
    width: 0%;
    height: 3px;
    background-color: #fff;
    transition: 0.3s;

}

nav ul li:hover::after {
    width: 100%;
}

nav ul li a {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-decoration: none;
    font-size: 3vh;
    text-transform: uppercase;


}




nav ul li a:hover {}

.animationHeader {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 90vh;
    background-image: url("../img/bg-main.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    animation: intro 5s;
    z-index: -1;

}

/* .animationHeader h1 {
    display: inline-block;
    margin: 20px 0 0 0px;
    padding: 3vh;
    font-size: 7vh;
    color: white;
    font-family: serif;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    background-color: rgba(0, 0, 0, 0.4);

} */






@keyframes intro {
    0% {
        background-color: #fff;
    }

    25% {
        background-color: transparent;
    }

    50% {
        ;
    }

    75% {}

    100% {

        background-color: transparent;
    }
}

.git p {
    position: fixed;
    padding: 5px 5px 5px 5px;

    width: 32vh;
    height: 32vh;
    top: 20vh;
    left: -27vh;
    border: 2px solid #29a6dc;
    border-radius: 5%;
    box-shadow: 0px 0px 00px 3px rgba(255, 255, 255, 1);
    background-color: #fff;
    color: #29a6dc;
    font-size: 2.6vh;
    transform: rotate(-90deg);
    font-family: 'Roboto Mono', monospace;
    z-index: 1;

}



.git a {
    display: block;
    margin-top: 27vh;
    text-decoration: none;
    color: #29a6dc;
}




.git p i {
    transition: 1s;
}

.git p:hover i {
    transform: rotate(450deg);
}


.fab {
    transform: rotate(90deg);
}