@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:300,600&subset=latin-ext');
/* 
font-family: 'Roboto Mono', monospace;
font-family: 'Roboto', sans-serif; 
font-family: 'Open Sans Condensed', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    position: fixed;
    top: 0px;
    right: 80px;
    padding: 25px 15px;
}

nav ul li {
    position: relative;
    display: inline-block;
    width: 110px;
    text-align: center;
    list-style-type: none;
    cursor: pointer;
    overflow: hidden;
    box-sizing: border-box;
}

nav ul li a {
    font-family: 'Open Sans', sans-serif;
    color: #111;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
}

nav ul li a span {
    position: relative;
    top: 0;
    left: 0;
    transition: 0.3s;
}

nav ul li:hover span {
    left: 0;
    top: -100px;
    font-weight: 600;
}

nav ul li:hover span+span {
    top: 0;
    left: 50%;

}

nav ul li a span+span {
    content: "";
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, 0);
    color: #009ddc;
}

.animationHeader {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100vw;
    height: 90vh;
    background-color: #009ddc;
    animation: intro 5s;
    z-index: -1;
}


@keyframes intro {
    0% {
        background-color: transparent;
        color: transparent;
    }

    25% {
        background-color: #009ddc;
    }

    50% {
        color: transparent;
    }

    55% {
        color: #fff;
    }

    60% {
        color: transparent;
    }

    65% {
        color: #fff;
    }



    100% {

        background-color: #009ddc;
        color: #fff;
    }
}

.git p {
    position: fixed;
    padding: 5px 5px 5px 5px;
    width: 32vh;
    height: 32vh;
    top: 20vh;
    left: -27vh;
    border: 2px solid #29a6dc;
    border-radius: 5%;
    box-shadow: 0px 0px 00px 3px rgba(255, 255, 255, 1);
    background-color: #fff;
    color: #29a6dc;
    font-size: 2.6vh;
    transform: rotate(-90deg);
    font-family: 'Roboto Mono', monospace;
    z-index: 1;

}



.git a {
    display: block;
    margin-top: 27vh;
    text-decoration: none;
    color: #29a6dc;
}




.git p i {
    transition: 1s;
}

.git p:hover i {
    transform: rotate(450deg);
}


.fab {
    transform: rotate(90deg);
}

button.shaker {
    position: absolute;
    bottom: 5vh;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 15px 25px;
    background-color: #009ddc;
    border: 2px solid #fff;
    color: #fff;
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s;
    animation: shaker 6s infinite;
}

@keyframes shaker {
    0% {
        left: 50%;
    }

    90% {
        left: 50%;
    }

    90,
    01% {
        left: 49%;
    }

    91% {
        left: 51%
    }

    92% {
        left: 49%;
    }

    93% {
        left: 51%
    }

    94% {
        left: 49%;
    }

    95% {
        left: 51%
    }

    96% {
        left: 49%;
    }

    97% {
        left: 51%
    }

    100% {
        left: 50%;
    }

}

div.picture {
    background-image: url("../img/bg-main.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    overflow: hidden;

}

.picture img {

    top: 0;
    height: 80vh;
    width: auto;

}

button.shaker:hover {
    background-color: #fff;
    color: #111;
}

header h1,
h2 {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #fff;
    position: absolute;
}



header h1 {
    top: 35vh;
    left: 25%;
    transform: translate(-50%, 0);
    font-size: 3em;
    animation: intro color 5s;
}

header h2 {
    top: 45vh;
    left: 25%;
    transform: translate(-50%, 0);
    font-size: 2em;
    font-weight: 300;
    animation: intro color 5s;
}